
/* CSS Grid */
body > .header {
  grid-area: header;

}

body > .aboutSection {
  grid-area: about;
   /* The image used */
    background-image: url("../images/top_banner.jpg");

    /* Set a specific height */
    height: 50px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0px 10px rgba(0,0,0,0.5);
}

body > .sidebar {
  grid-area: sidebar;
}

body .footer {
  grid-area: footer;
}

body .main {
  grid-area: content;
  /* margin: 0 20px; */
}

body {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-rows: 8% 10% 1fr 10%;
  grid-template-columns: 15% 1fr;
  grid-template-areas: "header header"
                        "about about"
                       "sidebar content"
                       "sidebar footer";
}

body h2{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color:#EB5342;
}

body h4{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color:#404048;
  text-align: center;
  width: 100%;
}

body h1 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color:#000000;
  margin-top: 40px;

}

body h1 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color:#000000;
  margin-top: 40px;

}

body p{
  font: 1em/1.375em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #404048;
}

body h3 {
  float:left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.75em;
	margin:15px 0 0 0;
  padding-left: 20px;
  color: #404048;
	}

/* main content */

/* GRID main section 1 */
.main > .sectionOne {
  grid-area: content2;
  background-color: #dcf5f0;
  background: linear-gradient(#dcf5f0, white);
}

/* GRID main section 2 */
.main > .sectionTwo {
  grid-area: content2;
  background-color: #dcf5f0;
}

.main > .selectSongArea {
  grid-area: content2;
  background-color: #dcf5f0;
}



/* TOP bar - logo, nav */
#logo-header {
  grid-area: headerImage;
  float: left;
  margin-top: 10px;
  padding-left: 20px;
}

nav {
  grid-area: nav;
  list-style-type: none;
   font-family: 'Raleway', sans-serif;
   font-size: 17px;
   color:#EB5342;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "headerImage nav";
  /* background-color: #ffffff; */
}

nav ul{
  float: right;
  list-style-type: none;
  padding: 1vh;
  margin: 3vh 2vh 0 0;
  }

nav li{
  display: inline;
	padding: 0 10px 0 10px;
  margin-top: 20vh;
  vertical-align: middle;
  text-decoration: none;
}

nav .current a{
	color: #404048;
  text-decoration: none;
}

nav a:hover{
	color: #9898a4;
  font-weight: bold;
}

nav a:active{
	color:#EB5342;
	font-weight: bold;
}

#logo-header {
 width: 30vh;
 margin-left: 1vh;
 margin-bottom: .8vh;
}

/* ABOUT section 1*/

.aboutSection {
  background-color: #404048;
  /* border-bottom: 10px solid #404048; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#about{
  height: 50px;
  padding: 1px 0;
}
#about p{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #404048;
  padding: 0 20%;
  text-align: center;
}

#about h6{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}




/* CONTAINS PLAYLIST CARD DISPLAY AND CREATE PLAYLIST FORM*/
.main_body > .playlistCards {
  grid-area: playlistCards;
}

.playlist_section {
  grid-area: playlist_section;
}

.main_body {
  display: grid;
  color: #000000;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "playlist_section playlistCards";
  margin: 0 20px;
}

/* left side playlist area =============================== */
.playlistCards{
  grid-area: playlistCards;
  background-color: #dcf5f0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.leftColumn h3 {
    grid-area: headline;
}
.leftColumn img{
  grid-area: headline;
}

.flex {
  grid-area: playlist;
}
.leftColumn {
  background-color: #dcf5f0;
  background: linear-gradient(to bottom right, #dcf5f0, #d1ece7);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 2% 1fr;
  grid-template-areas: "headline"
                       "playlist";
}
.leftColumnHeader h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.75em;
    margin:13px 0 0 0;
  color: #404048;
    }
 .leftColumnHeader img {
  width: 40%;
  height: auto;
  margin-top: 15px;
  vertical-align: middle;
} 
.leftColumnHeader {
  display: flex;
  align-content: flex-start;
}
/* loadPlaylist children*/
#loadPlaylist {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 90%;
  margin-top: 10px;
  background-color: white;  
  margin-left: 15px;
  margin-bottom: 15px;
     -moz-box-shadow:    inset 0 0 1px #000000;
   -webkit-box-shadow: inset 0 0 1px #000000;
   box-shadow:         inset 0 0 1px #000000;
}

.card {
/*  font-family: 'Source Sans Pro', sans-serif;
  width: 30%;
  padding: 3px 1px;
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 5px;
  border: .5px solid #404048;
  background-color: #d3d3d3;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;*/
        width:30%;
        padding: 3px 1px;
        text-align: center;
        float:left;
        margin:10px;
        background: #43434f;
        color: white;
        box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 10px;
        background: linear-gradient(#2b2b2b , #5e5e5e);

}
.card:hover {
  box-shadow:0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
  background: linear-gradient(#5e5e5e, #2b2b2b);
}

.card:active {
  box-shadow:0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
  border-color: #ef4e3d;
}

#locationSpan {
  background-color: #fbc963;
  color: #43434f;
  padding: 1px;
  font-family: 'Schoolbell', cursive;
  font-size: 15px;
  border-radius: 5px;
}

span.circleFont {
  font-family: 'Source Sans Pro', sans-serif;
    font-size:1.25em;
  line-height:30px;
  display:inline-block;
  border-radius: 50%;
  border-color: #EB5342;
  color: #EB5342;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  height: 40px;
  width: 40px;
}

#playlistTitle {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
}

#playlistTitle:hover {
  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.playlist_section {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "headline"
                       "playlist"; */
   /* margin: 0 20px; */
   border-right: 3px solid #ffffff;
  grid-area: playlist_section;
  padding: 15px;
}
.playlist_section h3 {
  float:left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.75em;
	margin:15px 0 15px 0;
  padding-left: 20px;
  color: #404048;
}

.playlist_section img {
  display: inline-block;
  max-width: 9%;
  margin-top: 15px;
  float: left;
  vertical-align: middle;
}

#inputST {
  margin-top: 10px;
  margin-bottom: 10px;
  color:  #43434f;
}

#inputST:hover,
#inputST:focus {
  margin-top: 10px;
  color:  #43434f;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.1),0 2px 2px 0 rgba(0,0,0,0.1); 
}

#inputSet {
  text-align: center;
  margin: auto;
  width: 50%
}

#createSet {
  margin-top: 3px;
  float: right;
  background: linear-gradient(#3a9992, #43aca4);
  box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 3px 0 rgba(0,0,0,.4),
        inset 0 0 3px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
}

#createSet:hover {
  margin-top: 3px;
  float: right;
  background: linear-gradient(#43aca4, #3a9992);
  box-shadow:
        inset 0 0 0px 0 rgba(255,255,255,.4),
        inset 0 0 0px 0 rgba(0,0,0,.4),
        inset 0 0 0px 0px rgba(0,0,0,.05),
        0px 0px 0px 0 rgba(0,0,0,.25);
}
/* =========================== */
.songArea {
  background-color: #ffffff;
  border-top: 5px solid #404048;
  border-bottom: 5px solid #404048;
}
/* TABLE for Playlist, Section 1 ==========================================*/
.currentMusicList > h3 {
  grid-area: h3;
}

.currentMusicList > .table {
  grid-area: table;
}

.currentMusicList {
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "h3"
                       "table";
  margin: 0 20px;
}

.table {
  font: 1em/1.375em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 7px 0 7px 0;
  width: 100%;
  table-layout:fixed;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-collapse: collapse;
}

.table td {
  padding: 0.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.table tr {

}

.table tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table th {
  background-color: #EB5342;
  color: white;
}

.table tr th:first-child {
  width: 4em;
  min-width: 4em;
  max-width: 4em;
  word-break: break-word;
  background-color: none;
}
.table tr td:first-child {
  width: 2em;
  min-width: 2em;
  max-width: 2em;
  word-break: break-all;
  background-color: none;
  text-align: center;
}

.table td:first-child {
  border-left: none;
}

.table td:last-child {
  border-right: none;
}
/* ===================================================  */


/* Album cover art Section 1
.player > .img {
  grid-area: img;
}

.player > .details {
  grid-area: dtls;
}

.player {
  display: grid;
  color: #000000;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "img dtls";
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
}

.player .details {
  text-align: left;
  padding: 20px;
}
/* ================================================== */
.main_library > #headline {
    grid-area: headline;
  }

.main_library > .library {
    grid-area: libraryPage;
}
.main_library {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr;
  grid-template-areas: "headline"
                       "libraryPage";
  margin: 0 15px;
}

#headline{
  /* padding-left: 15%; */
}

#headline img {
    display: inline-block;
    max-width: 12%;
    margin-top: 15px;
    float: left;
    vertical-align: middle;
  }

#headline h3 {
  display: block;
  	font-family: 'Source Sans Pro', sans-serif;
  	font-size:1.75em;
  	margin-top: 17px;
    margin-left: 17px;
    color: #404048;
  	}


.library {
  padding: 15px;
  margin: 0 15px;
}

#stepTwoContainer {

    display: inline-block;
}

/* end grid layout set up */

/* HIDE CSS b/c Zack js buttons should override this layout!!
begin grid layout for the playlist CARDS */
/* .playlistGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "card card card card"
                       "card card card card"
                       "card card card card"
                       "card card card card";
  justify-content: space-evenly;
  grid-gap: 10px;
  padding: 20px;
} */
/* end CARD grid set up */
/* .playlist_section h3 {
  float:left;
	font-family: 'Source Sans Pro', sans-serif;
  font-size:1.75em;
  width:100%;
	position:relative;
	padding:0 0 0 70px;
	margin:50px 0 10px 0;
  color: #EB5342;
} */


/* .cardContainer {
    padding: 5px;
    text-align: center;
}

.cardContainer p {
  color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
	font-size:.75em;

}

.cardContainer h4 {
  color: #404048;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
	font-size:1em;
} */

/* h3 span {
  display:inline-block;
	padding: 5px 0 0 0;
	width:48px;
	height:48px;
	background:#000;
	color:#f4f4f6;
	border-radius: 50%;
	text-align:center;
	position:absolute;
	left:0px;
	top:-7px;
} */
/* LIBRARY search ================================================= */
.stepSeach {
  display: contents;
  box-sizing: border-box;
  border: 1px solid #e5f2ef;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.stepSeach .search-container {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%:
}

.stepSeach input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: 1px solid #e5f2ef;
}

.stepSeach .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom:10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.stepSeach .search-container button:hover {
  background: #ccc;
}

/*  Select song from library after Search ===============================*/
.stepOne {
  display: inherit;
  box-sizing: border-box;
  font: 15px/1.5 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #000000;
  border: 1px solid #e5f2ef;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#songTable{
  margin: 7px 0 7px 0;
  width: 100%;
  table-layout:fixed;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

#songTable td {
  padding: 0.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

#songTable tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

#songTable tr:nth-of-type(even) {
  background-color: #ffffff;
}

#songTable th {
  background-color: #ffffff;
  color: #404048;
}

#songTable tr:hover{
	background-color: #fdf7df;
}

#songTable tr:active{
	background-color: #fdf7df;
	font-weight: bold;
}

.selectAddArea {
  width: 100%;
  display:  inherit;
  padding:  15px;
  margin: 15px;
}
/* User song selection FORM ======================================== */
.stepTwo {
  display: block;
  box-sizing: border-box;
  color: #000000;
  border: 1px solid #e5f2ef;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#addSongForm {
  font: 1em/1.375em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #404048;
}

#addSongForm button {
  margin-top: 5px;
  border: 1px solid #f3978d;
}

#addSongForm input {
  display: block;
  margin-bottom: 20px;
}

#addSongForm label {
  font: 1em/1.375em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #404048;
}


/* left sidebar ==========================================================*/
.sidebar {
  background-color: #45ABA3;
  padding: 2%;
  border-radius: 5px;
  border-right: .5px solid #caeae7;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sidebar > .chip {
    display: block;
    padding: 0 25px;
    margin: 8px 2px 0 2px;
    height: 50px;
    font-size: .7em;
    line-height: .9em;
    border-radius: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sidebar ul {
  padding-top: .5%;
  display: inline;
  list-style-type: none;
  word-wrap: break-word;
  overflow: auto;
  text-overflow: ellipsis;

}

.sidebar > .chip img {
    float: left;
    margin: 0 5px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* album cover slideshow ==================================================*/
/* .clear { clear: both; }

.stage {
  margin-top: 15px;
  background-color: none;
  float: left;
  height: 330px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  z-index: 10;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.cbImage {
  width: 200px;
  height: 268px;
  float: left;
  margin: 25px 0px 25px 0px;
  color: white;
  box-shadow: 0px 5px 10px 0px #D6D6D6;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cbImage img {
  width: 100%;
  height: 100%;
}

.inactiveLeft {
  -webkit-transform: perspective(500px) rotateY(60deg);
  -O-transform: perspective(500px) rotateY(60deg);
  transform: perspective(500px) rotateY(60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  box-shadow: 12px 0px 20px 0px #d6d6d6;
}

.inactiveRight {
  -webkit-transform: perspective(500px) rotateY(-60deg);
  -O-transform: perspective(500px) rotateY(-60deg);
  transform: perspective(500px) rotateY(-60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  box-shadow: -12px 0px 20px 0px #d6d6d6;
}

.active {
  z-index: 100;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -O-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.controls {
  width: 50%;
  margin: auto;
}

.cbcontrol {
  font-size: 80%;
  float: left;
  color: white;
  margin-top: 1px;
  margin-bottom: 10px;
  width: 28%;
  height: 15px;
  text-align: center;
  background-color: #c0dfd9;
  border: .5px solid #e5f2ef;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cbControlRight {
  float: right;
  margin-right: 20%;
}
#cbControlLeft {
  float: left;
  margin-left: 20%;
}
.cbcontrol:hover { cursor: pointer; } */

/* Container goes with album cover block */
.container {
  display: block;
  margin: auto;
  width: 65%;
  background-blend-mode: 0.5;
  /* border: .5px solid #ffffff; */
}

/* footer ================================================================*/
.footer > .logo-small {
  grid-area: imgfooter;
}

.footer > .music-controls {
  grid-area: dtlsfooter;
}

.footer {
  background-color: #EB5342;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-areas: "imgfooter dtlsfooter";
  min-height: 2.5vh;
}

.logo-small {
  display: inline-block;

}

.music-controls {
  display: inline-block;
  margin-bottom: 10px;
  padding: 20px;
}

.loginbtn {
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.loginbtn:hover {
  background: #ccc;
}

#login {
  margin: auto;
  width: 70%;
}

#player {

  position: sticky;
  bottom: 0px;
  left: 0px;
}

span.step {
  background-color: #43434f;
  color: white;
  border-radius: 15px;
  padding: 3px;
}

span.stepNumber {
  /*background-color: #ef4e3d;*/
  color: #ef4e3d;
}

#backButton {
  float: left;
}



#selectMixedTape {
  font-family: 'Schoolbell', cursive;
  font-size: 20px;
}

#action {
  -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #43434f;
   font-weight: bold;
   font-size: 30px;
   font-family: 'Architects Daughter', cursive;
}

.chip:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#yourSong {
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
}

.songForm {
  color: red;
}
/*=============================
  default grid set up -> mobile
===============================*/
