
/* CSS Grid */
body > .header {
  grid-area: header;
}

body > .aboutSection {
  grid-area: about;
}

body > .sidebar {
  grid-area: sidebar;
}

body .footer {
  grid-area: footer;
}

body .main {
  grid-area: content;
  /* margin: 0 20px; */
}

body {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-rows: 8% 10% 1fr 10%;
  grid-template-columns: 15% 1fr;
  grid-template-areas: "header header"
                        "about about"
                       "sidebar content"
                       "sidebar footer";
}

body h2{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color:#EB5342;
}

body h4{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color:#404048;
  text-align: center;
}

body p{
  font: 1em/1.375em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #404048;
}

/* main content */

/* TOP bar - logo, nav */
#logo-header {
  grid-area: headerImage;
  float: left;
  margin-top: 10px;
  padding-left: 20px;
}

nav {
  grid-area: nav;
  list-style-type: none;
   font-family: 'Raleway', sans-serif;
   font-size: 17px;
   color:#EB5342;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "headerImage nav";
  /* background-color: #ffffff; */
}

.header {
  background-image: url('./assets/images/subtle_dots.png');
}

nav ul{
  float: right;
  list-style-type: none;
  padding: 1vh;
  margin: 3vh 2vh 0 0;
  }

nav li{
  display: inline;
	padding: 0 10px 0 10px;
  margin-top: 20vh;
  vertical-align: middle;
}

nav .current a{
	color: #404048;
  text-decoration: none;
}

nav a:hover{
	color: #9898a4;
  font-weight: bold;
}

nav a:active{
	color:#EB5342;
	font-weight: bold;
}

#logo-header {
 width: 30vh;
 margin-left: 1vh;
 margin-bottom: .8vh;
}

/* ABOUT section 1*/

.aboutSection {
  background: linear-gradient(#ffffff, #c0dfd9);
  border-bottom: 10px solid #404048;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}



#about p{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #404048;
  padding: 0 20%;
  text-align: center;
}

#about h6{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 1.8;
  font-weight: bold;
  color: #EB5342;
  text-align: center;
}

/* GRID main section 1 */
.sectionOne {
  grid-area: content;
  background-color: #c0dfd9;
}

/* GRID main section 2 */
.sectionTwo {
  grid-area: content;
  background-color: #EB5342;
}

/* Main table section 2  */
.main_body > h3 {
  grid-area: headline;
}

.main_body > .table {
  grid-area: table;
}

.main_body {
  display: grid;
  color: #000000;
  grid-template-columns: 1fr;
  grid-template-areas: "headline"
                       "table";
  margin: 0 20px;
}

.main_body h3 {
  float:left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.75em;
	width:100%;
	position:relative;
	padding:0 0 0 70px;
	margin:20px 0 10px 0;
  color: #404048;
	}

.main_library > h3 {
    grid-area: headline;
  }

.main_library > .library {
    grid-area: libraryPage;
}
.main_library {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "headline"
                       "libraryPage";
  margin: 0 20px;
}

.main_library h3 {
  float:left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.75em;
	width:100%;
	position:relative;
	padding:0 0 0 70px;
	margin:50px 0 10px 0;
  color: #EB5342;
	}



/* PLAYLIST PAGE - cards */
#sectionThree {
  background-color: #3b3a36;
  margin: auto;
}

/* inside grid layout for Section 3 */
.playlist_section > h3 {
    grid-area: headline;

  }

.playlist_section > .playlistGrid {
    grid-area: playlist;
}
.playlist_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "headline"
                       "playlist";
  margin: 0 20px;
}
/* end grid layout set up */

/* begin grid layout for the playlist CARDS */
.playlistGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "card card card card"
                       "card card card card"
                       "card card card card"
                       "card card card card";
  justify-content: space-evenly;
  grid-gap: 10px;
  padding: 20px;
}
/* end CARD grid set up */
.playlist_section h3 {
  float:left;
	font-family: 'Source Sans Pro', sans-serif;
  font-size:1.75em;
  width:100%;
	position:relative;
	padding:0 0 0 70px;
	margin:50px 0 10px 0;
  color: #EB5342;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  border-radius: 5px;
  border: .5px solid #fbf7f2;
  background-color: #edd9c0;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card img {
  border-radius: 5px 5px;
  margin-top: 5%;
  height: 80px;
  width: 80px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
    padding: 2px 2px;
    text-align: center;
}

.cardContainer p {
  color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
	font-size:.75em;

}

.cardContainer h4 {
  color: #404048;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
	font-size:1em;
}

h3 span {
  display:inline-block;
	padding: 5px 0 0 0;
	width:48px;
	height:48px;
	background:#000;
	color:#f4f4f6;
	border-radius: 50%;
	text-align:center;
	position:absolute;
	left:0px;
	top:-7px;
}
/* LIBRARY search ================================================= */
.stepSeach {
  display: block;
  box-sizing: border-box;
  border: 1px solid #f3978d;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.stepSeach .search-container {
  overflow: hidden;
  display: block;
  margin: auto;
}

.stepSeach input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: 1px solid #f3978d;
}

.stepSeach .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.stepSeach .search-container button:hover {
  background: #ccc;
}

/*  Select song from library after Search ===============================*/
.stepOne {
  display: block;
  box-sizing: border-box;
  font: 15px/1.5 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #000000;
  border: 1px solid #f3978d;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#songTable{
  margin: 7px 0 7px 0;
  width: 100%;
  table-layout:fixed;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

#songTable td {
  padding: 0.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

#songTable tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

#songTable tr:nth-of-type(even) {
  background-color: #ffffff;
}

#songTable th {
  background-color: #ffffff;
  color: #404048;
}

#songTable tr:hover{
	background-color: #fdf7df;
}

#songTable tr:active{
	background-color: #fdf7df;
	font-weight: bold;
}

/* User song selection FORM ======================================== */
.stepTwo {
  display: block;
  box-sizing: border-box;
  color: #000000;
  border: 1px solid #f3978d;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#addSongForm {
  font: 1em/1.375em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #404048;
}

#addSongForm button {
  margin-top: 5px;
  border: 1px solid #f3978d;
}

#addSongForm input {
  display: block;
  margin-bottom: 20px;
}

#addSongForm label {
  font: 1em/1.375em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #404048;
}

/* TABLE for Playlist, Section 1 ==========================================*/

.table {
  margin: 7px 0 7px 0;
  width: 100%;

  table-layout:fixed;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td {
  padding: 0.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tr {

}

.table tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table th {
  background-color: #ffffff;
  color: #404048;
}

.table tr th:first-child {
  width: 4em;
  min-width: 4em;
  max-width: 4em;
  word-break: break-word;
  background-color: none;
}
.table tr td:first-child {
  width: 2em;
  min-width: 2em;
  max-width: 2em;
  word-break: break-all;
  background-color: none;
  text-align: center;
}

/* END TABLE section 1*/

/* Album cover art Section 1 =================================================== */
.player > .img {
  grid-area: img;
}

.player > .details {
  grid-area: dtls;
}

.player {
  display: grid;
  color: #000000;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "img dtls";
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
}

.player .details {
  text-align: left;
  padding: 20px;
}

/* left sidebar ==========================================================*/
.sidebar {
  background-color: #45ABA3;
  padding: 2%;
  border-radius: 5px;
  border-right: .5px solid #caeae7;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sidebar > .chip {
    display: block;
    padding: 0 25px;
    margin: 8px 2px 0 2px;
    height: 50px;
    font-size: .7em;
    line-height: .9em;
    border-radius: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sidebar ul {
  padding-top: .5%;
  display: inline;
  list-style-type: none;
  word-wrap: break-word;
  overflow: auto;
  text-overflow: ellipsis;

}

.sidebar > .chip img {
    float: left;
    margin: 0 5px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* album cover slideshow ==================================================*/
.clear { clear: both; }

.stage {
  margin-top: 15px;
  background-color: none;
  float: left;
  height: 330px;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  z-index: 10;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.cbImage {
  width: 200px;
  height: 268px;
  float: left;
  margin: 25px 0px 25px 0px;
  color: white;
  box-shadow: 0px 5px 10px 0px #D6D6D6;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cbImage img {
  width: 100%;
  height: 100%;
}

.inactiveLeft {
  -webkit-transform: perspective(500px) rotateY(60deg);
  -O-transform: perspective(500px) rotateY(60deg);
  transform: perspective(500px) rotateY(60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  box-shadow: 12px 0px 20px 0px #d6d6d6;
}

.inactiveRight {
  -webkit-transform: perspective(500px) rotateY(-60deg);
  -O-transform: perspective(500px) rotateY(-60deg);
  transform: perspective(500px) rotateY(-60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  box-shadow: -12px 0px 20px 0px #d6d6d6;
}

.active {
  z-index: 100;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -O-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.controls {
  width: 50%;
  margin: auto;
}

.cbcontrol {
  font-size: 80%;
  float: left;
  color: white;
  margin-top: 1px;
  margin-bottom: 10px;
  width: 28%;
  height: 15px;
  text-align: center;
  background-color: #c0dfd9;
  border: .5px solid #e5f2ef;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cbControlRight {
  float: right;
  margin-right: 20%;
}
#cbControlLeft {
  float: left;
  margin-left: 20%;
}
.cbcontrol:hover { cursor: pointer; }

/* Container goes with album cover block */
.container {
  display: block;
  margin: auto;
  width: 65%;
  background-blend-mode: 0.5;
  /* border: .5px solid #ffffff; */
}

/* footer ================================================================*/
.footer > .logo-small {
  grid-area: imgfooter;
}

.footer > .music-controls {
  grid-area: dtlsfooter;
}

.footer {
  background-color: #EB5342;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-areas: "imgfooter dtlsfooter";
  min-height: 2.5vh;
}

.logo-small {
  display: inline-block;

}

.music-controls {
  display: inline-block;
  margin-bottom: 10px;
  padding: 20px;
}

/*=============================
  default grid set up -> mobile
===============================*/
